.card {
  padding: 15px;
  border: 1px solid #eee;
  transition: all 0.3s ease;
  box-shadow: 0 20px 8px rgba(12, 99, 99, 0.7);


  &:hover {
    transform: scale(1.05) translate(10px, 10px);

    box-shadow: 0 40px 8px rgba(12, 99, 99, 0.9);
  }
}

.text-muted {
  color: var(--text-muted) !important;
  font-size: 14px;
}