h5 {
  margin-bottom: 1rem;
  color: var(--text-color);
}

.cart-item {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    border-bottom: none;
  }
}

p {
  color: var(--text-color);
}