<!-- src/app/layout/user/footer/footer.html -->
<!-- Footer -->
<footer>
  <div class="footer-content">
    <div class="row">
      <!-- About Section -->
      <div class="col-lg-4 col-md-6 footer-section">
        <h3>{{ 'FOOTER.ABOUT_US_TITLE' | translate }}</h3>
        <p>{{ 'FOOTER.ABOUT_US_DESC' | translate }}</p>
        <div class="social-links w-100 d-flex justify-content-around">
          <!-- الأيقونات مضبوطة بالفعل -->
          <a aria-label="Facebook">
            <img width="45" height="45" src="../../../../assets/images/icons/icons8-facebook-circled.gif"
              alt="Facebook">
          </a>
          <a aria-label="Twitter">
            <img width="45" height="45" src="../../../../assets/images/icons/icons8-twitter-bird.gif" alt="Twitter">
          </a>
          <a aria-label="Instagram">
            <img width="45" height="45" src="../../../../assets/images/icons/icons8-instagram.gif" alt="Instagram">
          </a>
          <a aria-label="LinkedIn">
            <img width="45" height="45" src="../../../../assets/images/icons/icons8-linkedin.gif" alt="LinkedIn">
          </a>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-2 col-md-6 footer-section">
        <h3>{{ 'FOOTER.QUICK_LINKS_TITLE' | translate }}</h3>
        <ul class="footer-links">
          <!-- الأيقونات مضبوطة بالفعل -->
          <li><a>{{ 'COMMON.HOME' | translate }} <i class="fas fa-chevron-left"></i></a></li>
          <li><a>{{ 'HEADER.ALL_PRODUCTS' | translate }} <i class="fas fa-chevron-left"></i></a></li>
          <li><a>{{ 'FOOTER.ABOUT_US_TITLE' | translate }} <i class="fas fa-chevron-left"></i></a></li>
          <li><a>{{ 'COMMON.CONTACT_US' | translate }} <i class="fas fa-chevron-left"></i></a></li>
          <li><a>{{ 'FOOTER.BLOG' | translate }} <i class="fas fa-chevron-left"></i></a></li>
        </ul>
      </div>

      <!-- Customer Service -->
      <div class="col-lg-3 col-md-6 footer-section">
        <h3>{{ 'FOOTER.CUSTOMER_SERVICE_TITLE' | translate }}</h3>
        <ul class="footer-links">
          <!-- الأيقونات مضبوطة بالفعل -->
          <li><a>{{ 'FOOTER.TRACK_ORDER' | translate }} <i class="fas fa-chevron-left"></i></a></li>
          <li><a>{{ 'FOOTER.RETURNS' | translate }} <i class="fas fa-chevron-left"></i></a></li>
          <li><a>{{ 'FOOTER.SHIPPING_INFO' | translate }} <i class="fas fa-chevron-left"></i></a></li>
          <li><a>{{ 'FOOTER.FAQS' | translate }} <i class="fas fa-chevron-left"></i></a></li>
          <li><a>{{ 'FOOTER.TERMS' | translate }} <i class="fas fa-chevron-left"></i></a></li>
        </ul>
      </div>

      <!-- Newsletter -->
      <div class="col-lg-3 col-md-6 footer-section">
        <h3>{{ 'FOOTER.NEWSLETTER_TITLE' | translate }}</h3>
        <p>{{ 'FOOTER.NEWSLETTER_DESC' | translate }}</p>
        <form class="newsletter-form">
          <input type="email" [placeholder]="'FOOTER.EMAIL_PLACEHOLDER' | translate">
          <button type="submit">{{ 'FOOTER.SUBSCRIBE' | translate }}</button>
        </form>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
      <div class="payment-methods">
        <!-- الأيقونات مضبوطة بالفعل -->
        <a aria-label="Visa"><i class="fab fa-cc-visa"></i></a>
        <a aria-label="Mastercard"><i class="fab fa-cc-mastercard"></i></a>
        <a aria-label="Paypal"><i class="fab fa-cc-paypal"></i></a>
        <a aria-label="Amex"><i class="fab fa-cc-amex"></i></a>
      </div>
    </div>
  </div>

  <!-- Back to Top Button -->
  <div class="back-to-top" id="backToTop" [attr.aria-label]="'COMMON.BACK_TO_TOP' | translate">
    <!-- الأيقونة مضبوطة بالفعل -->
    <i class="fas fa-arrow-up"></i>
  </div>

</footer>